.greenyellow{
    background-color: greenyellow;
}
.bord{
    border: solid 2px #428bca;
    color: #428bca;
}
.wide{
    width: 150px;
}
.bottom{
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.margin{
    padding-left: 40px;
    padding-right: 40px;
}
.grey{
    color: grey;
}
.pointer{
    cursor: pointer;
}