.greenyellow{
    background-color: #5cb85c;
}
.bord{
    border: solid 2px limegreen;
    color: white;
}
.wide{
    width: 150px;
}
.bottom{
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.margin{
    padding-left: 40px;
    padding-right: 40px;
}
.grey{
    color: grey;
}
.pointer{
    cursor: pointer;
}
li button{
    
}