<div class="container">
<div class="panel-body">

<form [formGroup]="editForm">
        <h1 i18n="@@editEditAnEvent">Edit an event:</h1><br>        
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="control-label" for="name" i18n="@@editName">Name:</label><br>
                <input class="form-control" id="name" formControlName="name"/>        
                <span *ngIf="!editForm.get('name').valid && editForm.get('name').touched" class="help-block">
                    <span *ngIf="editForm.get('name').errors['required']" class="help-block" i18n="@@editRequired">This is required!</span>
                </span>
            </div>        
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" formArrayName="categories">
            <div class="row" *ngFor="let category of getCategories(); let i = index" style="margin-top: 10px">
                <div class="col-xs-1">
                    <button type="button" class="btn btn-danger" (click)="onDeleteCategory(i)">X</button>
                </div>
                <div class="col-xs-11">
                    <span i18n="@@editCategory">Category</span> {{ i+1 }}<br>
                    <input type="text" class="form-control" [formControlName]="i"/>
                    <span *ngIf="!editForm.get('categories').valid && editForm.get('categories').controls[i].touched" class="help-block">
                        <span *ngIf="editForm.get('categories').controls[i].errors['required']" class="help-block" i18n="@@editRequired">This is required!</span>
                    </span>
                </div>
            </div>
            <span *ngIf="!editForm.get('categories').valid && getCategories().length == 0" class="help-block">
                <span *ngIf="editForm.get('categories').errors['noCategories']" class="help-block" i18n="@@editRequiredOneCategory">You should add at least one category!</span>
            </span>
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-success" (click)="onAddCategory()" i18n="@@editAddCategory">Add Category</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="control-label" for="description" i18n="@@editDescription">Description:</label><br>
                <textarea class="form-control" id="description" formControlName="description"></textarea>
                <span *ngIf="!editForm.get('description').valid && editForm.get('description').touched" class="help-block">
                    <span *ngIf="editForm.get('description').errors['required']" class="help-block" i18n="@@editRequired">This is required!</span>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="form-group">
                    <label i18n="@@editDate">Date:</label><br>
                <div class="col-md-2">
                    <span i18n="@@editDay">Day:</span><input class="form-control" formControlName="day" /> 
                <span *ngIf="!editForm.get('day').valid && editForm.get('day').touched" class="help-block">
                    <span *ngIf="editForm.get('day').errors['required']" class="help-block" i18n="@@editRequired">This is required!</span>
                </span>
                </div>
                <div class="col-md-2">
                    <span i18n="@@editMonth">Month:</span><input class="form-control" formControlName="month" /> 
                <span *ngIf="!editForm.get('month').valid && editForm.get('month').touched" class="help-block">
                    <span *ngIf="editForm.get('month').errors['required']" class="help-block" i18n="@@editRequired">This is required!</span>
                </span>
                </div>
                <div class="col-md-8">
                    <span i18n="@@editYear">Year:</span><input class="form-control" formControlName="year" />
                <span *ngIf="!editForm.get('year').valid && editForm.get('year').touched" class="help-block">
                    <span *ngIf="editForm.get('year').errors['required']" class="help-block" i18n="@@editRequired">This is required!</span>
                </span>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label" i18n="@@editStartHour">Start hour:</label><br/>
                <input class="form-control" formControlName="startHour"/>
                <span *ngIf="!editForm.get('startHour').valid && editForm.get('startHour').touched" class="help-block">
                    <span *ngIf="editForm.get('startHour').errors['required']" class="help-block" i18n="@@editRequired">This is required!</span>
                </span>
            </div>
            <div class="col-md-2">
                <label class="control-label" i18n="@@editStartMinute">Start minute:</label>
                <input class="form-control" formControlName="startMinute" />
                <span *ngIf="!editForm.get('startMinute').valid && editForm.get('startMinute').touched" class="help-block">
                    <span *ngIf="editForm.get('startMinute').errors['required']" class="help-block" i18n="@@editRequired">This is required!</span>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label" i18n="@@editFinishHour">Finish hour:</label><br/>
                <input class="form-control" formControlName="endHour"/> 
                <span *ngIf="!editForm.get('endHour').valid && editForm.get('endHour').touched" class="help-block">
                    <span *ngIf="editForm.get('endHour').errors['required']" class="help-block" i18n="@@editRequired">This is required!</span>
                </span>
            </div>
            <div class="col-md-2">
                <label class="control-label" i18n="@@editFinishMinute">Finish minute:</label>
                <input class="form-control" formControlName="endMinute" />
                <span *ngIf="!editForm.get('endMinute').valid && editForm.get('endMinute').touched" class="help-block">
                    <span *ngIf="editForm.get('endMinute').errors['required']" class="help-block" i18n="@@editRequired">This is required!</span>
                </span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success" (click)="onSubmit()" [disabled]="!editForm.valid" i18n="@@editSave">Save</button>
    <button class="btn btn-success" (click)="finish()" i18n="@@editCancel">Cancel</button><br/><br/>
    <button class="btn btn-danger" (click)="deleteTimestamp()" i18n="@@editDelete">Delete</button>
</form>
    <div class="savedDiv infoDiv" [ngClass]="{'display': isSaved}">
        <span i18n="@@editChangesSaved">Changes have been saved!</span>
    </div>
    <div class="deletedDiv infoDiv" [ngClass]="{'display': isDeleted}">
        <span i18n="@@editEventSaved">Event has been deleted!</span>
    </div>
</div>
</div>
<span style="visibility: hidden" #confirm i18n="@@editDiscard">Do you want to discard the changes?</span>