.navbar-color{
    background-color: lightseagreen;
}
.padding{
    padding-left: 40px;
    padding-right: 40px;
}
li a:hover{
    font-size: 20px;
    color: navy;
    background-color: #eee !important;
}
li a{
    font-weight: bold;
    color: #eee;
    font-size: 17px;
    background-color: lightseagreen;
}
li a active{
    font-size: 17px;
    font-weight: bold;
    color: navy;
    background-color: lightseagreen;
}
#logo{
    color: black;
    font-size: 22px;
    font-weight: bold;
    font-family: "Arial Black", Gadget, sans-serif;
    padding: 0px 15px;
}
#clock{
    width: 50px;
    height: 50px;
    display: inline;
    
}
.lang{
    background-color: seagreen !important;
}
a.lang:hover{
    background-color: #eee;
}
.dropdown-menu li a{
    color: navy;
    background-color: white;
}
.dropdown-menu li a:hover{
    color: navy;
    background-color: #eee;
}