<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSignin(f)" #f="ngForm">
            <div class="form-group">
                <label for="email" i18n="@@siginEmail">Email</label>
                <input type="text" id="email" name="email" class="form-control" ngModel/>
            </div>
            <div class="form-group">
                <label for="password" i18n="@@signinPassword">Password</label>
                <input type="password" id="password" name="password" class="form-control" ngModel/>
            </div>
            <button class="btn btn-success" type="submit" i18n="@@signinSignin">Sign In</button>
        </form>    
        <div *ngIf="(authState | async).failed" >
            {{(authState | async).failed}}
        </div>
    </div>
</div>

